<h2>Edit Books Page</h2>

<form action="/books/<%= book.id %>?_method=PUT" method="POST">
    <div>
        <label>Title</label>
        <input type="text" name="title" required value="<%= book.title %>">
      </div>
      <div>
        <label>Author</label>
       
      </div>
      <div>
        <label>Publish Date</label>
        <input  type="date" name="publishDate"
              value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>">
      </div>
      <div>
        <label>Page Count</label>
        <input type="number" name="pageCount" min="1" value="<%= book.pageCount %>">
      </div>
      </div>
      <div>
        <label>Cover</label>
        <input type="file" name="cover" class="filepond">
      </div>
      <div>
        <label>Description</label>
        <textarea required name="description"><%= book.description %></textarea>
      </div> 

<a href="/books">Cancel</a>
<button type="submit"> Update Book</button>
</form>