<h2 class="page-header">Edit Books Page</h2>

<form action="/books/<%= book.id %>?_method=PUT" method="POST">
  <div class="form-row">
    <div class="form-item">
        <label>Title</label>
        <input type="text" name="title" required value="<%= book.title %>">
      </div>
      <div class="form-item">
        <label>Author</label>
        <select required name="author">
            <% authors.forEach(author => { %>
                <% if (author. id == book.author) { %>
                <option selected label="<%= author. name %>" value="<%= author. id %>">
                <%= author. name %>
                </option>
                <%} else {%>
                <option label="<%= author. name %>" value="<%= author. id %>">
                <%= author. name %>
                </option>
                <% } %>
            <% }) %>
        </select>
      </div>
  <div class="form-row">
    <div class="form-item">
        <label>Publish Date</label>
        <input  type="date" name="publishDate"
              value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>">
      </div>
      <div class="form-item">
        <label>Page Count</label>
        <input type="number" name="pageCount" min="1" value="<%= book.pageCount %>">
      </div>
  </div>
  </div> 
      
  </div>
  <div class="form-row">
    <div class="form-item">
        <label>Cover</label>
        <input type="file" name="cover" class="filepond">
      </div>
      <div class="form-item">
        <label>Description</label>
        <textarea required name="description"><%= book.description %></textarea>
      </div> 
  </div>
<div class="btn-row form-end">
  <a class="btn" href="/books">Cancel</a>
  <button class="btn btn-primary" type="submit"> Update Book</button>
</div>

</form>