<h2 class="page-header">Search Authors </h2>

<form action="/authors">
    <div class="form-item">
        <label for="name">Name</label>
        <input class="text-input" type="text" name="name" value="<%= searchOptions.name %>">
    </div>
    <button class="btn btn-primary btn-row form-end" type="submit">Search</button>
    
</form>

<% authors.forEach(author => { %>
    <h1><%= author.name %></h1>
    <div class="btn-row">
        <a class="btn btn-primary" href="/authors/<%= author.id %>">View</a>
        <a class = "btn btn-primary"href="/authors/<%= author.id %>/edit">Edit</a>
        <%- include('../partials/deleteForm',
                { url: `authors/${author.id}` }) %>
    </div>
   
<% })%>