<h1><%= author.name %></h1>
<a href="/authors/<%= author.id%>/edit"></a>
<%- include('../partials/deleteForm', 
            {url: `/authors/${author.id}`}) %>

<% if(booksByAuthor.length > 0){ %>
    <h1>Books By Author</h1>
    <% booksByAuthor.forEach(book => { %>
        <img height="150" width="100" src="<%= book.coverImagePath %>">
        <p><%= book.title %></p>
    <% }) %>
<% } %> 
