<h1><%= author.name %></h1>
<div class="btn-row">
    <a class="btn btn-primary" href="/authors/<%= author.id%>/edit">Edit</a>
    <%- include('../partials/deleteForm', 
                {url: `/authors/${author.id}`}) %>

</div>

<% if(booksByAuthor.length > 0){ %>
    <h1>Books By Author</h1>

 <div class="book-grid"></div>
    <% booksByAuthor.forEach(book => { %>
        
                <img class="book-cover" src="<%= book.coverImagePath %>">
                <p><%= book.title %></p>
            <% }) %>
        <% } %> 
        </div>

